body{
    background-color: gray;
}
.title {
    color: red;
    font-size: 60px;
  }
  .description{
    color: chocolate;
    line-height: 1.5em;
  }
  #test{
    color: blue;
  }
  p{
    color: goldenrod;
  }
  p{
    color: cyan;
  }